.calculatorContainer{
    width: 100%;
    height: 90vh;
    padding: 20px;
    padding-top: 40px;
    @include flexCenter();
    flex-direction: column;
    h1{
        position: absolute;
        top: 40px;
        left: 20px;
        color: $textColor;
    }
    .calculator{
        position: relative;
        width: 600px;
        height: 540px;
        padding-top: 0px;
        .display{
           width: 600px;
           height: 80px;
           @include flexCenter();
           flex-direction: column;
           align-items: flex-end;
           padding: 10px 28px;
           border-radius: 20px;
           font-size: 32px;
           color: $textColor;
           box-shadow: 0 2px 6px rgb(54, 54, 54, .3);
           .previous-operand{
            font-size: 18px;
           }
        }
        .calButtons{
            transform: translateY(20px);
            @include flexCenter();
            flex-wrap: wrap;
            box-shadow: 0 5px 8px rgb(54, 54, 54, .3);
            border-radius: 14px;
            section{
                @include flexCenter();
                font-size: 34px;
                width: 120px;
                height: 70px;
                cursor: pointer;
                margin:  14px 14px;
                border-radius: 16px;
                color: $textColor;
                box-shadow: 0 5px 8px rgb(54, 54, 54, .3);
                transition: all .3s;
                &:hover{
                    box-shadow: 0 9px 12px rgb(54, 54, 54, .3);  
                }
                
            }
            section:nth-child(1){color: #fff; background-color: rgb(244, 98, 98); width: 260px;}
            section:nth-child(2){background-color: $backgroundColor;}
            section:nth-child(3){background-color: $backgroundColor;}
            section:nth-child(7){background-color: $backgroundColor;}
            section:nth-child(11){background-color: $backgroundColor;}
            section:nth-child(15){background-color: $backgroundColor;}
            section:nth-child(18){background-color: #00EA7A; color: #fff;}
            section:nth-child(19){background-color: $backgroundColor;}
        }
    }
}