.navigatorContainer{
    @include flexCenter();
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 10px;
    width: 100px;
    height: 600px;
    border-radius: 24px;
    background-color: $backgroundColor;
    .navIcon{
        color: #fff;
        font-size: 30px;
    }
}