nav{
   @include flexCenter();
   justify-content: space-between;
   height: 10vh;
   width: 94%;
   margin: 0 auto;
   h2{
    font-size: 28px;
    color: $textColor;
    transform: translateX(15px)
   }
   .navIcons{
        @include flexCenter();
        span{
            margin: 0 10px;
            font-size: 24px;
            cursor: pointer;
            @include flexCenter();
            padding: 8px;
            border-radius: $smallRadius;
            box-shadow: 0 4px 6px rgb(85, 85, 85, .4);
            color: $textColor;
            transition: all .3s;
            &:hover{
               background-color: $textColor;
               color: #fff;
            }
        }
        span:nth-child(2){
            margin-right: 30px;
        }
   }
   .navIcons img{
      height: 50px;
      cursor: pointer;
   }
   .clockContainer{
      @include flexCenter();
      position: absolute;
      right: 12%;
      top: 10%;
      width: 270px;
      height: 220px;
      z-index: 1111;
      background-color: #fff;
      padding: 14px;
      border-radius: 20px;
      box-shadow: 0 4px 6px rgba(53, 53, 53, 0.4);
      transition: all .5s;
      animation-name: dropDown;
      animation-duration: .8s;
      animation-timing-function: ease-in-out;
      .clockCloseBtn{
        position: absolute;
        top: 14px;
        right: 14px;
        cursor: pointer;
        color: $textColor;
      }
      .time{
         font-size: 48px;
         color: $textColor;
         font-weight: 600;
         transition: all .5s;
      }
   }
  
}

@keyframes dropDown {
   from { transform: translateY(-400px);}
   to { transform: translateY(0px);}
}