.tasksContainer{
    @include mainContainer;
    h1{
        @include headerPosition();
    }
    section{
        position: absolute;
        top: 140px;
        .tasksBtn{
            @include btnContainer;
            &:hover{
                background-color: $textColor;
                color: #fff;
            }
        }
    }
    input{
        @include inputContainer;
    }
}