.weather_container{
    @include mainContainer;
    h1{@include headerPosition();}
    section{
        position: absolute;
        top: 140px;
        .weatherBtn{
            @include btnContainer;
            &:hover{
                background-color: $textColor;
                color: #fff; }
        }
    }
    input{@include inputContainer; }
    .weatherData{
        @include flexCenter();
        flex-direction: column;
        p{font-size: 24px; }
        p:nth-child(2){font-size: 94px;
            span{
                font-size: 20px;
                cursor: pointer;}
        }
    }
}