@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import "./variables";
@import './navbar';
@import './navigator';
@import './home';
@import './calculator';
@import './weather';
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
main{
    width: 94%;
    height: 90vh;
    margin: 0 auto;
    @include flexCenter();
    justify-content: space-between;

    .mainContainer{
        position: relative;
        width: 90%;
        height: 88vh;
        @include flexCenter();
        flex-wrap: wrap;
        transform: translateY(-20px);
    }
}